.about {
  background: #000;
  padding: 60px 0 60px;
  scroll-margin-top: 50px;
}

.subtitle {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  opacity: 0.8;
  font-size: 38px;
  font-weight: 200;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  color: #fff;
  margin: 0 auto;
  padding: 30px;
  max-width: 1300px;
}

.box {
  width: calc(33.333% - 20px);
  background-color: #0c0c0c;
  position: relative;
  border-radius: 11px;
}

.item {
  padding: 24px;
  background-color: #0c0c0c;
  position: relative;
  border: 1px solid #c0c0c01f;
  border-radius: 11px;
  height: 100%;
}

.item:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0c0c0c;
  pointer-events: none;
  border-radius: 10px;
  opacity: 0.3;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.04));
}

.item:after {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background: linear-gradient(140deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
  z-index: -1;
  pointer-events: none;
  border-radius: 10px;
}

.cont {
  position: relative;
  z-index: 3;
}

.boxhead {
  display: flex;
  gap: 26px;
  align-items: center;
}

.boxhead img {
  width: 50px;
  display: block;
}

.boxsub {
  font-size: 14px;
  opacity: 0.7;
}

.boxtitle {
  font-size: 20px;
  margin: 0;
  margin-top: 8px;
  font-weight: 400;
}

.item p {
  margin: 0;
  margin-top: 22px;
  margin-bottom: 20px;
  font-weight: 100;
  line-height: 1.7;
  font-size: 16px;
  opacity: 0.7;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .box {
    width: 100%;
  }

  .subtitle {
    font-size: 28px;
  }

  .contentWrapper {
    padding: 20px;
  }
}
